
.profile-header {
    display: flex;
    height: 80px;
    background-color: #4B565E;
    color: #fff;
    justify-content: space-around;
    }
    
    .left-block-of-the-header { 
    display: flex;
    align-items: center;
    gap: 40px;
    width: 755px;
    height: 80px;
    }
    
    .three-words-to-the-left {
    display: flex;
    width: 273px;
    height: 19px;
    gap: 24px;
    }
    
    .home {
    color: #fff;
    }
    .about-the-company {
    color: #fff;
    }
    .catalogg {
    color: #fff;
    }

.right-side {
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
}
    .right-side-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    }
    
    .right-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    width: 126px;
    height: 48px;
    gap: 5px;
    }
    
    .number {
    color: #fff;
    }
    .empty {
    color: #fff;
    }
    
    .mask-group {
    width: 28px;
    height: 28px;
    }
    
    .yellow-profile-header-block {
    display: flex;
    justify-content: space-around;
    background-color: #F0BA4E;
    height: 48px; 
    }
    
    .yellow-block-navigation-left {
    width: 700px;
    height: 48px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    }

    .catalog {
        border: none;
        outline: none;
        background-color: #F0BA4E;
        color: #000;
        }
        .building-materials {
        border: none;
        outline: none;
        background-color: #F0BA4E;
        }
        .tools { 
        border: none;
        outline: none;
        background-color: #F0BA4E;
        }
        .electrics {
        border: none;
        outline: none;
        background-color: #F0BA4E;
        }
        .interior-and-clothing {
        border: none;
        outline: none;
        width: 150px;
        background-color: #F0BA4E;
        }
        
    
    
    .search-bar {
    background-color: #F0BA4E;
    width: 250px;
    border: none;
    outline: none;
    }
    
    .loupe {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    }
    
    .block {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    }
    
    .map {
    width: 69px;
    height: 14px;
    font-size: 14px;
    color: #fff;
    }
   
.symbols {
    border: none;
    outline: none;
    background-color: #F0BA4E;
    margin-top: 5px;
}
.container{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
color: #fff;
margin-top: 10px;
}