<div  class="profile-header"> 
   <nav class="left-block-of-the-header">
      <div class="left-photo"><img src="../assets/img/Frame.svg" alt=""></div>
         <div class="three-words-to-the-left">
            <a class="home" href="">{{headeritem1}} </a>
            <a class="About-the-company" href=""> {{aboutCompany}} </a>
            <a class="catalog"  href="" *ngIf = "openCatalog"> {{headeritem3}} </a>
        </div>
        <button (click)="openCatalog = !openCatalog ">скрыть\показать каталог</button>
   </nav>
      <nav class="right-block-of-the-header"  >
         <div class="right-side-navigation"> 
             <a href=""> <img src="../assets/img/Phone.svg" alt=""></a>
              <a class="number" href=""> +7 (965) 084-29-29 </a>
         </div>
              <a href=""> <img src="../assets/img/heart.svg" alt=""></a>
           <div class="right-border">
               <a href=""> <img  class="Mask-group" src="../assets/img/Maskgroup.svg" alt=""></a>
               <a class="empty" href="">пусто</a>
           </div>
      </nav>
   </div>
<div class="yellow-profile-header-block">
     <nav class="yellow-block-navigation-left">
         <a href=""> <img src="../assets/img/light.svg" alt=""> </a>
           <a class="directory" href=""> {{hedertoo1}}</a>   
           <a class="Building-materials" href="">{{hedertoo2}}</a>
           <a class="Tools" href=""> {{hedertoo3}}</a>
           <a class="Electrics" href="">{{hedertoo4}}</a>
           <a class="Interior-and-clothing" href="">{{hedertoo5}}</a>    
     </nav>
   <nav class="right-block-yellow">
      <div class="block">
            <input class="search-bar" type="text"  name="searchbar" placeholder="Поиск, например Круг зачистной" >
              <img class="loupe" src="../assets/img/loupe.svg" alt="">
      </div>
          <a class="map"> 
             <img src="../assets/img/map.svg" alt="">
             Москва
          </a> 
   </nav>
</div>
            <button (click)="isShowPhot0 = !isShowPhot0"> скрыть\показать </button>
 <div  class= "big-photo" *ngIf="isShowPhot0" >
  <div class="inscription">Инструмент для вашего бизнеса </div>
 </div>
<div class="content">
 <div class="small-orange-photos">
    <div class="first-column">
      <img src="../assets/img/Maskgroup.png" alt="">
      <span>Большой ассортимент строительных материалов всегда в наличии</span>
    </div>
    <div  class="second-column"    >
       <img src="../assets/img/deliveri.png" alt="">
       <span>Доставка стройматериалов в течении четырех часов или в любое удобное время</span>
    </div>
    <div class="third-column" >
       <img src="../assets/img/Maskgroup.png" alt="">
       <span>Многоуровневая система управления качеством по стандарту ISO 9001</span>
    </div>
 </div>

<div class="button-block"  >
   <div class="numbers" >
 <button *ngFor="let item of newPages"class="item-cards__pagination-button active-button"> {{item}} </button>
   </div>
   <div class="block-with-different-pictures">
                  <div class="inscription-painting">
                       <div class="lettering"> Строительный отделочный инструмент</div>
                           <div class="bottom-block"> 
                             <span class="directory">Перейти в каталог </span>
                               <a class="button-with-border"> 
                                <img src="../assets/img/Framek.svg" alt=""> 
                               </a>
                           </div>
                  </div>
        <div class="block-with-four-cards">  
               <div class="block-with-four-cards-right">
                   <div class="enamels">Эмали</div>
                      <div class="decoricx">
                         <span class="string">Перейти в каталог</span>
                            <a class="go-button">
                              <img src="../assets/img/Framek.svg" alt="">
                           </a>
                       </div>
               </div>
            <div class="block-with-four-cards-right">
              <div class="varnish-material"> Лакокрасочные материалы</div>
                    <div class="lower-block-of-varnish">
                        <span class="string">Перейти в каталог</span>
                           <a class="lowerblock">
                             <img src="../assets/img/Framek.svg" alt="">
                          </a>
                     </div>
                  </div>
            <div class="block-with-four-cards-right">
                   <div class="penacles"> Пены, клеи и герметики</div>
                        <div class="bottom-block-foam">
                            <span class="string"> Перейти в каталог</span>
                               <a class="foam-catalog">
                                 <img src="../assets/img/Framek.svg" alt="">
                               </a>
                        </div>
            </div>
            <div class="block-with-four-cards-right">
                  <div class="sockets">Розетки и выключатели</div>
                    <div class="bottom-block-penacles">
                       <span class="string">Перейти в катлог</span>
                          <a class="penacles-catalog">
                            <img src="../assets/img/Framek.svg" alt="">
                           </a>
                    </div>
            </div>                        
        </div>
 </div>
    <div class="popular-products">
         <span class="popular-products-left">Популярные товары </span>
          <span class="popular-products-right">Посмотреть все товары</span>
   </div>
          <div class="second-block-popular-products">
             <div class="second-block-popular-products-cards">
               <span class="percent-heart">
                  <span class="percent"> <img src="../assets/img/percent.svg" alt=""></span>
                    <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
               </span>
                     <div class="dimensions">
                        Круг зачистной 125х6х22
                     </div>
                       <div class="article-number">
                        Артикул 00004
                       </div>
                         <div class="price-per-piece">
                             Цена за штуку
                        </div>
                          <div class="price">
                            <div class="first-price">52 руб.</div>
                            <div class="new-price">48 руб.</div> 
                          </div>
      <div class="general-quantity-block">
                 <div class="quantity">
                    <span class="quantity-block">
                       Количество
                    </span>
                      <div class="plus-and-minus">
                         <button class="minus">-</button>
                         <span class="unit">1</span>
                         <button class="plus">+</button>
                      </div>
                 </div>
                  <div class="block-add-to-cart">
                      <div class="add-to-cart"> В корзину</div>
                  </div>        
      </div>
             </div>
            <div class="second-block-popular-products-cards">
                   <span class="percent-heart">
                      <span class="percent"> <img src="../assets/img/percent.svg" alt=""></span>
                      <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                  </span>
                       <div class="dimensions">
                           Круг зачистной 125х6х22
                        </div>
                            <div class="article-number">
                                Артикул 00004
                            </div>
                              <div class="price-per-piece">
                                 Цена за штуку
                              </div>
                           <div class="price">
                               <div class="first-price">52 руб.</div>
                               <div class="new-price">48 руб.</div> 
                           </div>
      <div class="general-quantity-block">
                 <div class="quantity">
                      <span class="quantity-block">
                          Количество
                      </span>
                         <div class="plus-and-minus">
                            <button class="minus">-</button>
                            <span class="unit">1</span>
                            <button class="plus">+</button>
                         </div>
                 </div>
                     <div class="block-add-to-cart">
                         <div class="add-to-cart"> В корзину</div>
                     </div>        
      </div>
                </div>
                           <div class="second-block-popular-products-cards">
                              <span class="new-and-heart">
                                 <span class="new"><img src="../assets/img/Новинки.svg" alt=""></span>
                                 <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                                </span>
                                    <img src="../assets/img/percent.svg" alt="">
                                  <div class="dimensions-three">
                                   Круг зачистной 125х6х22
                                   </div>
                                       <div class="article-number">
                                        Артикул 00004
                                       </div>
                                          <div class="price-per-piece">
                                            Цена за штуку
                                         </div>
                                         <div class="price">
                                          <div class="first-price">52 руб.</div>
                                          <div class="new-price">48 руб.</div> 
                                         </div>
                 <div class="general-quantity-block">
                            <div class="quantity">
                                 <span class="quantity-block">
                                     Количество
                                 </span>
                                    <div class="plus-and-minus">
                                      <button class="minus">-</button>
                                      <span class="unit">1</span>
                                      <button class="plus">+</button>
                                    </div>
                            </div>
                                <div class="block-add-to-cart">
                                    <div class="add-to-cart"> В корзину</div>
                                </div>        
                 </div>
                         </div>  
                         
                         <div class="second-block-popular-products-cards">
                           <span class="new-and-heart">
                              <span class="new"><img src="../assets/img/Новинки.svg" alt=""></span>
                              <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                             </span>    
                               <div class="dimensions-four">
                                  Круг зачистной 125х6х22
                               </div>
                                  <div class="article-number">
                                     Артикул 00004
                                  </div>
                                     <div class="price-per-piece">
                                         Цена за штуку
                                    </div>
                                      <div class="single-price">52 руб.</div>            
            <div class="general-quantity-block">
                       <div class="quantity">
                            <span class="quantity-block">
                                Количество
                            </span>
                               <div class="plus-and-minus">
                                   <button class="minus">-</button>
                                   <span class="unit">1</span>
                                   <button class="plus">+</button>
                               </div>
                       </div>
                           <div class="block-add-to-cart">
                               <div class="add-to-cart"> В корзину</div>
                           </div>        
            </div>
                        </div>
         </div>
                         <div class="thousand-names">
                             
                                 <div class="ten-thousand">Более 10 000 наименований </div>
                                 <div class="various-brands">Инструмент для вашего бизнеса, разнообразных марок</div>
                                 <div class="transition">Перейти в каталог</div>
                            
                         </div>

                        <div class="new-products">
                             <span class="new-products-left">Популярные товары </span>
                             <span class="new-products-right">Посмотреть все товары</span>
                        </div>

                            <div class="new-cerds">
                        <div class="new-cards-product">
                           <span class="new-and-heart">
                              <span class="new"><img src="../assets/img/Новинки.svg" alt=""></span>
                              <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                           </span>    
                               <div class="dimensions-four">
                                  Круг зачистной 125х6х22
                               </div>
                                  <div class="article-number">
                                     Артикул 00004
                                  </div>
                                     <div class="price-per-piece">
                                         Цена за штуку
                                    </div>
                                      <div class="single-price">52 руб.</div>               
            <div class="general-quantity-block">
                       <div class="quantity">
                            <span class="quantity-block">
                                Количество
                            </span>
                               <div class="plus-and-minus">
                                   <button class="minus">-</button>
                                   <span class="unit">1</span>
                                   <button class="plus">+</button>
                               </div>
                       </div>
                           <div class="block-add-to-cart">
                               <div class="add-to-cart"> В корзину</div>
                           </div>        
            </div>
                        </div>
   <div class="new-cards-product">
                           <span class="new-and-heart">
                              <span class="new"><img src="../assets/img/Новинки.svg" alt=""></span>
                              <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                           </span>    
                               <div class="dimensions-four">
                                  Круг зачистной 125х6х22
                               </div>
                                  <div class="article-number">
                                     Артикул 00004
                                  </div>
                                     <div class="price-per-piece">
                                         Цена за штуку
                                    </div>
                                      <div class="single-price">52 руб.</div>         
            <div class="general-quantity-block">
                       <div class="quantity">
                            <span class="quantity-block">
                                Количество
                            </span>
                               <div class="plus-and-minus">
                                   <button class="minus">-</button>
                                   <span class="unit">1</span>
                                   <button class="plus">+</button>
                               </div>
                       </div>
                           <div class="block-add-to-cart">
                               <div class="add-to-cart"> В корзину</div>
                           </div>        
            </div>
</div>
 <div class="new-cards-product">
                           <span class="new-and-heart">
                              <span class="new"><img src="../assets/img/Новинки.svg" alt=""></span>
                              <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                           </span>    
                               <div class="dimensions-four">
                                  Круг зачистной 125х6х22
                               </div>
                                  <div class="article-number">
                                     Артикул 00004
                                  </div>
                                     <div class="price-per-piece">
                                         Цена за штуку
                                    </div>
                                      <div class="single-price">52 руб.</div>                 
            <div class="general-quantity-block">
                       <div class="quantity">
                            <span class="quantity-block">
                                Количество
                            </span>
                               <div class="plus-and-minus">
                                   <button class="minus">-</button>
                                   <span class="unit">1</span>
                                   <button class="plus">+</button>
                               </div>
                       </div>
                           <div class="block-add-to-cart">
                               <div class="add-to-cart"> В корзину</div>
                           </div>        
            </div>
</div>
<div class="new-cards-product">
                           <span class="new-and-heart">
                              <span class="new"><img src="../assets/img/Новинки.svg" alt=""></span>
                              <span class="heart"><img src="../assets/img/soul.svg" alt=""></span>
                           </span>    
                               <div class="dimensions-four">
                                  Круг зачистной 125х6х22
                               </div>
                                  <div class="article-number">
                                     Артикул 00004
                                  </div>
                                     <div class="price-per-piece">
                                         Цена за штуку
                                    </div>
                                      <div class="single-price">52 руб.</div>             
            <div class="general-quantity-block">
                       <div class="quantity">
                            <span class="quantity-block">
                                Количество
                            </span>
                               <div class="plus-and-minus">
                                   <button class="minus">-</button>
                                   <span class="unit">1</span>
                                   <button class="plus">+</button>
                               </div>
                       </div>
                           <div class="block-add-to-cart">
                               <div class="add-to-cart"> В корзину</div>
                           </div>        
            </div>
</div>
                     </div>
</div>
<footer class="end-block">
   <div class="contacts">
        <div class="picture"> <img src="../assets/img/Frame.svg" alt=""> </div> 
        <div class="bowl">
        <div class="alignment-block">
      <div class="general-phones-and-contacts">
             <div class="phones-and-contacts"> 
               <img class="call" src="../assets/img/Phone.svg" alt=""> 
                <span class="hookup">Контактный телефон</span>
              </div>
         <div class="list-of-numbers">
           <div>+ 7 (812) 309-09-34</div>
            <div>+ 7 (965) 084-29-09</div>
            </div>
      </div>
      <div class="mail">
           <div class="mail-and-links"> 
               <img class="massge" src="../assets/img/iconss.png" alt=""> 
                <span class="hookup">Электронная почта</span>
              </div>
         <div class="link-to-mail">
           <div>tustin78mail.ru</div>
           <div>infotustin.ru</div>
      </div>
      </div>
   </div>
<div class="right-block-of-questions">
        <div class="Any-questions-left">Остались вопросы?</div>
     <br>
        <div class="discounts-and-events">Узнавайте первым о скидках,
         предложениях и событиях еженедельно в своем почтовом ящике. 
          Отпишитесь в любое время одним щелчком мыши.</div>
          <div class="yellow-surug">
             <img src="../assets/img/iconss.png" alt="">
              <span class="line-about-mail">Введите свою почту</span>
              <button class="send-button"> отправить </button>
              
         </div>
</div>
   </div>
</div>
      <div class="info-line">Главная О компании Каталог</div>
      <div class="lower-part">
      <img src="../assets/img/Socials.svg" alt="">
       <span class="years"> © 2021-2023, EDE</span>
  </div>
  <div class="ggran">
<div>dfervwosjfvowjs</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Nisi reprehenderit nobis amet obcaecati, labore iusto, distinctio hic aut beatae similique veritatis 
consequatur praesentium voluptatibus, mollitia quaerat ad facere saepe necessitatibus.cd
  </div>
</footer>