
.profile-header{
display: flex;
height: 80px;
background-color: #4B565E;
color: #fff;
justify-content: space-around;
}
.left-block-of-the-header{ 
display: flex;
align-items: center;
gap: 40px;
width: 755px;
height: 80px;
}
.three-words-to-the-left {
display: flex;
width: 273px;
height: 19px;
gap: 24px;
}
.home{
color: #fff;
}
.About-the-company{
color: #fff;
}
.catalog{
color: #fff;
}
.right-block-of-the-header{
font-size: 16px ;
display: flex;
gap: 45px;
align-items: center;
}
.right-side-navigation{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
width: 194px;
height: 60px;
}
.right-border{
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #F0BA4E;
border-radius: 50px;
width: 126px;
height: 48px;
gap: 5px;
}
.number{
color: #fff;
}
.empty{
color: #fff;
}
.Mask-group{
width: 28px;
height: 28px;
}
.yellow-profile-header-block{
display: flex;
justify-content: space-around;
background-color: #F0BA4E;
height: 48px; 
}
.yellow-block-navigation-left{
width: 660px;
height: 48px;
display: flex;
gap: 24px;
justify-content: center;
align-items: center;
}
.right-block-yellow{
width: 660px;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.search-bar{
background-color: #F0BA4E;
width: 250px;
border: none;
outline: none;
}
.loupe{
width: 24px;
height: 24px;
margin-bottom: 5px;
}
.block{
display: flex;
justify-content: space-around;
border-bottom: 1px solid #000;
}
.map{
width: 69px;
height: 14px;
font-size: 14px;
color: #fff;
}
.directory{
color: #000;
}
.Building-materials{
color: #000;
}
.Tools{
color: #000;
}
.Electrics{
color: #000;
}
.Interior-and-clothing{
color: #000;
}
.big-photo{
background: url(../assets/img/Rectangle.svg) no-repeat;
height: 800px;
}
.inscription{
font-size: 40px;
color: #F0BA4E;
width: 543px;
height: 500px;
height: 112px;
position: absolute;
top: 450px;
left: 300px;
}
.content{  
max-width: 1319px;
margin: 0 auto;
}
.small-orange-photos{
display: flex;
gap: 28px;
height: 72px;
justify-content: center;
}
.first-column{
width: 427px;
height: 72px;
display: flex;
align-items: center;
gap: 16px;
}
.second-column{
width: 421px;
height: 72px;
display: flex;
align-items: center;
gap: 16px;
}
.third-column{
display: flex;
align-items: center;
gap: 16px;
width: 421px;
height: 72px;
}
.numbers{
display: flex;
justify-content: end;
height: 50px;
}
.button-block_numbers_number{
  border: none;
  background-color: #fff;
  color:#A1A0A0 ;
}
.button-block_numbers_number:first-child{
color: #F0BA4E ;
font-weight: 800;
}
.block-with-different-pictures{
display: flex;
height: 463px;
}
.inscription-painting{
background: url(../assets/img/imagek.png) no-repeat;
width: 421px;
height: 428px;
box-shadow: 0px 20px 50px 0px #3C3C3B12;
background-position: bottom;
background-position-x: left;
padding: 20px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.lettering{
width: 389px;
height: 68px;
font-size: 28px;
font-weight: 600;
}
.bottom-block{
  display: flex;
  align-items:center;
  align-self: end;
  gap: 10px;
}
.button-with-border{
  align-items: end;
}
.block-with-four-cards{
display: flex;
flex-wrap: wrap;
width: 100%;
height: 5px;
gap: 20px;
margin-left: 20px;
}
.block-with-four-cards-right{
box-shadow: 0px 20px 50px 0px #3C3C3B12;
width: 421px;
height: 204px ;
} 
.enamels{
display: flex;
justify-content: end;
font-size: 28px;
font-weight: 600;
height: 34px;
width: 400px;
margin-top: 15px;
}
.superscription{
font-size: 14px;
font-weight: 400;
}
.block-with-four-cards-right:nth-of-type(1){
background: url(../assets/img/enamels.svg) no-repeat;
background-position: bottom left;
padding: 10px;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.decoricx{
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: end;
}
.block-with-four-cards-right:nth-of-type(2){
  background: url(../assets/img/bucket.svg) no-repeat;
  background-position: bottom right;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.varnish-material{
font-weight: 600;
font-size: 28px;
width: 231px;
height: 68px;
margin-left: 10px;
}
.lower-block-of-varnish{
display: flex;
align-items: center;
gap: 10px;
margin-left: 10px;
align-self: self-start;
}
.block-with-four-cards-right:nth-of-type(3){
  background: url(../assets/img/soudal.svg) no-repeat;
  background-position: bottom right;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.penacles{
  width: 218px;
  height: 68px;
  font-size: 26px;
  font-weight: 600;
  margin-left: 10px;
}
.bottom-block-foam{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  align-self:self-start ;
}
.block-with-four-cards-right:nth-of-type(4){
  background: url(../assets/img/socket.svg) no-repeat;
  background-position: bottom left;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sockets{
font-size: 28px;
font-weight: 600;
width: 336px;
height:34px;
margin-left: 10px;
}
.bottom-block-penacles{
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: end;
  margin-right: 10px;
}
.first-block-popular-products{
height: 491px;
width: 1319px;
}
.popular-products{
display: flex;
justify-content: space-between;
align-items: center;
}
.popular-products-left{
width: 282px;
height: 46px;
font-size: 28px;
font-weight: 500;
display: flex;
align-items: center;
}
.popular-products-right{
width: 220px;
margin-right: 5px;
height: 22px;
font-size: 18px;
font-weight: 600;
color: #F0BA4E;
display: flex;
justify-content: center;
}
.percent-heart{
display: flex;
justify-content: space-between;
width: 261px;
height: 39px;
}
.percent{
  width: 54px;
  height: 39px;
}
.heart{
width: 24px;
height: 39px;
margin-top: 7px;
}
.second-block-popular-products{
display: flex;
gap: 20px;
width: 1319px;
}
.second-block-popular-products-cards:nth-of-type(1){
  width: 309px;
  height: 429px;
  background: url(../assets/img/disk.svg) no-repeat;
  background-position: 20% 3%;
   box-shadow: 0px 20px 50px 0px #3C3C3B12;
}
.dimensions{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.second-block-popular-products-cards:nth-of-type(2){
  width: 309px;
  height: 429px;
  background: url(../assets/img/disk.svg) no-repeat;
  background-position: 20% 3%;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
}
.dimensions{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.second-block-popular-products-cards:nth-of-type(3){
  width: 309px;
  height: 429px;
  background: url(../assets/img/disk.svg) no-repeat;
  background-position: 20% 3%;
  box-shadow: 0px 20px 50px 0px #3C3C3B12;
}
.new-and-heart{
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.dimensions-three{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.second-block-popular-products-cards:nth-of-type(4){
  width: 309px;
  height: 429px;
  background: url(../assets/img/disk.svg) no-repeat;
  background-position: 20% 3%;
  box-shadow: 0px 0px 50px 0px #3C3C3B12;
}
.new-and-heart{
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.dimensions-four{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.single-price{
font-weight: 600;
font-size: 20px;
width: 72px;
margin-left: 18px;
margin-top: 5px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.thousand-names{
  width: 1300px;
  background-color:#F6F6F6;
  height: 251px;
  margin-top: 20px;
  background-image: url(../assets/img/pngwing.svg); 
  background-repeat: no-repeat;
  background-position: right;
}
.ten-thousand{
  font-size: 28px;
  font-weight: 500;
  height: 34px;
  width: 448px;
  padding-left: 20px;
  padding-top: 20px;
}
.various-brands{
font-size: 20px;
font-weight: 400;
color:#A1A0A0 ;
width: 618px;
height: 34px;
padding-left: 20px;
padding-top: 10px;
}
.transition{
  font-size: 18px;
  font-weight: 600;
  color: #F0BA4E;
  margin-top: 100px;
  margin-left: 20px;
}
.new-products{
display: flex;
justify-content: space-between;
align-items: center;
height: 40px;
width: 1300px;
margin-top: 20px;
}
.new-products-left{
  font-size:28px ;
  font-weight:500 ;
}
.new-products-right{
  font-size: 18px;
  font-weight: 600;
  color: #F0BA4E;
}
.new-cerds{
  display: flex;
  height: 450px;
  width: 1319px;
  margin-top: 30px;
  gap: 20px;
}
.new-cards-product:nth-of-type(1){
background: url(../assets/img/disk.svg) no-repeat;
background-position: 20% 3%;
box-shadow: 0px 20px 50px 0px #3C3C3B12;
width: 309px;
height: 429px;
}
.new-and-heart{
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.dimensions-three{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.new-cards-product:nth-of-type(2){
background: url(../assets/img/disk.svg) no-repeat;
background-position: 20% 3%;
box-shadow: 0px 20px 50px 0px #3C3C3B12;
width: 309px;
height: 429px;
}
.new-and-heart{
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.dimensions-three{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.new-cards-product:nth-of-type(3){
background: url(../assets/img/disk.svg) no-repeat;
background-position: 20% 3%;
box-shadow: 0px 20px 50px 0px #3C3C3B12;
width: 309px;
height: 429px;
}
.new-and-heart{
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.dimensions-three{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.new-cards-product:nth-of-type(4){
background: url(../assets/img/disk.svg) no-repeat;
background-position: 20% 3%;
box-shadow: 0px 20px 50px 0px #3C3C3B12;
width: 309px;
height: 429px;
}
.new-and-heart{
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.dimensions-three{
  font-size: 20px;
  font-weight: 600;
  width: 261px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.article-number{
  width: 261px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 18px;
  margin-top: 5px;
}
.price-per-piece{
  width: 200px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #A1A0A0;
  margin-top: 20px;
  margin-left:18px ;
}
.price{
display: flex;
width: 147px;
height: 24px;
gap: 16px;
margin-left: 18px;
margin-top: 5px;
}
.first-price{
font-weight: 600;
font-size: 16px;
text-decoration: line-through;
}
.new-price{
  font-weight: 600;
  font-size: 20px;
}
.general-quantity-block{
width: 261px;
height: 53px;
display: flex;
align-items: center;
margin-top: 20px;
}
.quantity-block{
font-size: 16px;
font-weight: 500;
font-size: 16px;
}
.quantity{
margin-left: 18px;
}
.plus-and-minus{
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 30px;
}
.minus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
width: 30px;
}
.plus{
border: none;
background-color: #fff;
margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
margin-top: 2px;
width: 30px;
}
.unit{
  margin-top: 2px;
}
.block-add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid #F0BA4E;
  border-radius: 50px ;
  width: 120px;
  height: 35px;
}
.end-block{
height: 373px;
background-color: #4B565E;
}
.contacts{
color: #fff;
margin-left: 330px;
font-size: 12px;
font-weight: 400;
width: 1300px;
height: 300px;
}
.picture{
padding-top: 50px;
}
.alignment-block{
display: flex;
gap: 32px;
margin-top: 30px;
width: 450px;
}
.general-phones-and-contacts{
width: 200px;
}
.phones-and-contacts{
margin-top: 10px;
width: 200px;
display: flex;
align-items: end;
}
.hookup{
margin-left: 20px;
color:#FFFFFF99;
margin-bottom: 5px;
}
.list-of-numbers{
width: 150px;
margin-left: 48px;
font-size: 16px;
}
.mail{
padding-top: 15px;
width: 200px;
height: 70px;
}
.link-to-mail{
width: 150px;
margin-left: 45px;
font-size: 16px;
}
.mail-and-links{
  display: flex;
  align-items: end;
}
.bowl{
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.right-block-of-questions{
  width: 550px;
  height: 150px;
}
.Any-questions-left{
font-size: 18px;
font-weight: 700;
}
.discounts-and-events{
  color:#FFFFFF99 ;
  font-size: 14px;
}
.yellow-surug{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
 border: 1px solid #F0BA4E;
 border-radius: 50px;
 padding-left: 20px;
 height: 40px;
}
.line-about-mail{
color: #FFFFFF99;
font-size: 12px;
}
.send-button{
margin-left: 280px;
background-color: #F0BA4E;
border-radius: 30px;
height: 36px;
width: 94px;
color: #fff;
}
.info-line{
color: #fff;
margin-left: 330px;
width: 249px;
margin-bottom: 20px;
}
.lower-part{
margin-left:330PX;
width: 1320px;
display: flex;
justify-content: space-between;
}
.years{
  color:#FFFFFF99 ;
}