<div  class="profile-header"> 
   <nav class="left-block-of-the-header">
      <div class="left-photo"><img src="../assets/img/Frame.svg" alt=""></div>
         <div class="three-words-to-the-left">
            <a class="home" href="">{{headeritem1}} </a>
            <a class="About-the-company" href=""> {{aboutCompany}} </a>
            <a class="catalog"  href="" *ngIf = "openCatalog"> {{headeritem3}} </a>
        </div>
        <button (click)="openCatalog = !openCatalog ">скрыть\показать каталог</button>
   </nav>
      <nav class="right-block-of-the-header"  >
         <div class="right-side-navigation"> 
             <a href=""> <img src="../assets/img/Phone.svg" alt=""></a>
              <a class="number" href=""> +7 (965) 084-29-29 </a>
         </div>
              <a href=""> <img src="../assets/img/heart.svg" alt=""></a>
           <div class="right-border">
               <a href=""> <img  class="Mask-group" src="../assets/img/Maskgroup.svg" alt=""></a>
               <a class="empty" href="">пусто</a>
           </div>
      </nav>
   </div>
<div class="yellow-profile-header-block">
     <nav class="yellow-block-navigation-left">
         <div href=""> <img src="../assets/img/light.svg" alt=""> </div>
           <div class="directory" > {{heder1}}</div>   
           <div class="Building-materials">{{heder2}}</div>
           <div class="Tools" > {{heder3}}</div>
           <div class="Electrics" >{{heder4}}</div>
           <div class="Interior-and-clothing" >{{heder5}}</div>  
           <button routerLink="/users">Пользователи</button>
     </nav>
   <nav class="right-block-yellow">
      <div class="block">
            <input class="search-bar" type="text"  name="searchbar" placeholder="Поиск, например Круг зачистной" >
              <img class="loupe" src="../assets/img/loupe.svg" alt="лупа">
      </div>
          <a class="map"> 
             <img src="../assets/img/map.svg" alt="картина">
             Москва
          </a> 
   </nav>
</div>


